apiVersion: apps/v1
kind: Deployment
metadata:
  name: kraftivibe-api
  namespace: kraftivibe-dev
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: api
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
